@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div class="section no-pad-bot" id="index-banner">
                <div class="container">
                    <br><br>
                    <h1 class="header center blue-text">Welcome to the T -Shirt Store</h1>
                    <div class="row center">
 
                    </div>
                    <div class="row center">
                        <a href="~/ProductDetails/DisplayProductDetails" id="download-button"  class="btn-large waves-effect waves-light orange">Click Here to enter store</a>
                       
                    </div>
                    <br><br>

                </div>
            </div>
        </div>
    </section>
}

